<!DOCTYPE html>
<html>
<head>
<title>BMNC</title>
<link rel="icon" href="asset/bmnc.png" type="image/gif" sizes="32x32">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<style>
	* {box-sizing: border-box;}
html{
	height: 100%;
	width: 100%;
}

body { 
	margin: 0;
	font-family: 'Comfortaa', cursive;
	/*font-family: 'Varela Round', sans-serif;*/
	background: linear-gradient(to bottom right, #33cccc -2%, #ffc1b8 105%);
	min-height: 100%;
	background-attachment: fixed;
}


.header {
  overflow: hidden;
  background-color: white; 
  padding: 10px 5px;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.logo{
	margin-left: 20px;
	height: 40px;
}
.img{
	width: 110px;
	height: 40px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.body-right{
	width: 40%;
	float: right;
}
.body-left{
	width: 60%;
	float: left;
	margin-bottom: 40px;
}

.form{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}

:focus{outline: none;}

.content-title{
	margin: 40px auto;
	margin-top: 0px;
	width: 80%;
	border-bottom: 1px solid #3333;
}
.content-titles{
	margin: 10px auto;
	margin-top: 0px;
	width: 80%;
	border-bottom: 1px solid #3333;

}

.content-title, .content-titles h1{
	font-weight: bold;
	color: #06516B;

}

.col-3{
	width: 40%; 
	margin: 10px 30%; 
	justify-content: center;
	position: relative;
	} /* necessary to give position: relative to parent. */

input[type="text"]{
	font-family: 'Comfortaa', cursive; 
	margin:auto;
	color: #333; 
	width: 150px; 
	box-sizing: border-box; 
	letter-spacing: 1px;
}

input[type="submit"]{
	font-family: 'Comfortaa', cursive; 
}

input::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 3;
    letter-spacing: 1px;
}


.effect-2{
	border: 0; 
	padding: 7px 0; 
	border-bottom: 1px solid #ccc;
	margin:auto;
	width: 150px;
}

.effect-2 ~ .focus-border{
	position: absolute; 
	bottom: 0; 
	left: 50%; 
	width: 0; 
	height: 2px; 
	background-color: #3399FF; 
	transition: 0.4s;
}
.effect-2:focus ~ .focus-border{
	width: 150px; 
	transition: 0.4s; 
	left: 0;
}

::-webkit-input-placeholder {
   text-align: center;

}

:-moz-placeholder {
   text-align: center;

}

.buttons{
	align-items: center;
	align-content: center;
	align-self: center;
	margin-top: 60px;
}

.buttons p{
	margin-top: 30px;
	text-align: center;
}

.button {
  background: #FFC1B8;
  border-radius: 100px;
  width: 150px;
  height: 40px;
  padding: 10px 20px;
  color: #06516B;
  text-decoration: none;
  font-size: 18px;
  

  margin-bottom: -10px;
  margin-left: 120px;
  text-align: center;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}


.button:hover{
	cursor: pointer;
	opacity: 0.75;
}

.p{
	border-bottom: 1px solid black;
	width: 25%;
	margin:auto;
}
.p:hover{
	cursor: pointer;
	color: grey;
}

.container {
    width: 400px;
    height: 500px;
    background: white;
    float: right;
    margin-top: 130px;
    margin-right: 50px;
    bottom: 0;
    right: 100px;
    border-radius: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  }

.content-container {
	width: 95%;
	height: 100%;
	position: relative;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content-def{
	width: 80%;
	align-self: center;
	text-align: justify;
	color: #666;
}

.containers {
    width: 760px;
    height: 400px;
    background: white;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    bottom: 0;
    right: 100px;
    border-radius: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}
.containers1 {
    width: 760px;
    height: 300px;
    background: white;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    bottom: 0;
    right: 100px;
    border-radius: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  }

label {
	color: #E74C3C;
	text-transform: uppercase;
}

</style>
</head>
<body>
<div class="header">
	<div href="#default" class="logo">
		{% load static %}
		<img src="{% static "image/logo.png" %}" class="img">
	</div>
  	<div class="header-right">
    </div>
</div>

<div class="body">
	<div class="body-right">
		<div class="container">
	  		<div class="content-container">
	  			<div class="content-title">
	  				<h1>User Login</h1>
	  			</div>
	  			<form action="{% url 'home:auth_login' %}" method="POST">
	  				{% csrf_token %}
		    		<div class="form">
		    			<div class="col-3">
	        				<input for = "username" class="effect-2" type="text" name="username" placeholder="Username" required>
	            				<span class="focus-border"></span>
	        			</div>
	        			<div class="col-3">
	        				<input for = "password" class="effect-2" type="Password" name="password" placeholder="Password" required>
	            				<span class="focus-border"></span>
	        			</div>
		    		</div>
		    		<div class="buttons">
		    			<input type="submit" class="button" value="Login"></input>
		    			<p> or </p>
		    			<p class="p"> Register</p>
		    		</div>
		    	</form>
  			</div>
		</div>
	</div>
	<div class="body-left">
		<div class="containers">
	  		<div class="content-container">
	  			<div class="content-titles">
	  				<h1> What is BMNC?</h1>
	  			</div>
	  			<div class="content-def">
	  				<p><b>BMNC is a project of Database Implementation by Athifah, Kirana, and Zulia</b></p>
	  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	  				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
	  				</p>
	  			</div>
	  		
  			</div>
		</div>
		<div class="containers1">
	  		<div class="content-container">
	  			<div class="content-titles">
	  				<h1> Why use BMNC?</h1>
	  			</div>
	  			<div class="content-def">
	  				<p><b>BMNC is a project of Database Implementation by Athifah, Kirana, and Zulia</b></p>
	  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	  				</p>
	  			</div>
	  		
  			</div>
		</div>
	</div>
</div>
</body>
</html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
<script>
	$(document).ready(function(){
		var status = ({{status.status}});
		if (!status){
			alert('Username dan password salah!');
			status = false;
		}else{
			status = true;
		}
	}); 
	$('.p').click(function(){
		window.location.href = 'register';
		console.log('sampai ga');
	});

</script>